
body {
    margin: 0px;
    padding: 0px;
}


input {
    background-color: white;
    border-bottom-color: gray;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    height: 30px;
    width:100%;
    outline:none;
    transition: border 5s ease;
    
}

.form-group {
    position: relative;
}

.form-label
{
    position: absolute;
    color: gray;
    top:5px;
    transition: all .5s ease;
}

input:focus + label, input:valid + label{
    transform: translateY(-100%);
    font-size: 14px;
    color: black;
}


input:focus {

    border-bottom: 2px solid black;
} 

button {
    margin:auto;
    display:block;
    border-style: solid;
    border-color: black;
    background-color: white;
    height: 40px;
    width: 100px;
}

select{
    width:100%;
    border-left: 0;
    border-right: 0;
    border-top:0;
    border-bottom-color: grey;
    background-color: transparent;
    height: 30px;
    outline:none;
    
}
option {
    background-color: black;
    color: white;
    
}
.ccv-input  {
    padding-top: 0px;
}

.head {
    position: relative;    
    text-align: center;
}

.cart {
    height: 20px;
    width: 40px;
    position: absolute;
    right: 15px;
    top: 40px;
}

.cart-head {
    text-align:center; 
    color: red;
}
.sections {
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

.img {
    margin: 0;
    padding: 0; 
}

.t-shirt {
    width: 50%;
    height: 50px;
}

.c1 {
    display: flex;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    width:33%;
    color: gray;
    text-align: center;
}

b{
    color: black;
}

.product {
    display: flex;
}

.product-details {
    width:60%;
}

.product-img {
    width: 100%;
}

.product-description {
    width: 40%;
}

.product-select-class {
    
    text-indent: 60px;
    height: 30px;
    width: 100%;
}

.product-size {
    position: relative;
    top:25px;
    color:grey;
}



.cart-img {
    width: 35%;
    justify-content: center;
}

.cart-item {
    height: 100px;
    width: 100%;
    display: flex;  
    justify-content: right;
}

.cart-description {
    width: 40em;
    display: flex;
    justify-content: space-between;
}

.checkout-class {
    display:flex; 
    justify-content: space-around;
    width: 100%
}

.checkout-total {
    display:flex; 
    justify-content: space-between;
}

.select-month {
    display:flex; 
}
.select-country {
    width: 100%;
}

.address-class {
    width: 35%;
    height: 100%;
}

.payment-class {
    width: 35%;
    height: 100%;
}

.men-outerwear-img {
    object-fit: cover;
    width:100%;
    height:250px;
}

.ladies-outerwear-img {
    width:100%;
    object-fit: cover;
    height:250px;
}

.men-tshirt-img {
    object-fit: cover;
    width: 49.5%;
    height:250px;
}

.ladies-tshirt-img {
    object-fit: cover;
    width: 49.5%; 
    height:250px;
}


@media screen and (max-width: 680px) {
    .sections{
        display: none;
    }
    a{
        width: 50%;
        color: gray;
        text-align: center;
    } 

    .men-outerwear-img{
        height: 200px;
    }

    .men-tshirt-img{
        height: 200px;
    }

    .ladies-outerwear-img{
        height: 200px;
    }

    .ladies-tshirt-img{
        height: 200px;
    }
    
    .product {
        flex-direction: column;
    }

    .product-description {
        text-align: center;
        width: 100%;
    }
    .product-img {
        width: auto;
    }

    .cart-description {
        display: flex;
        flex-direction: column;
    }

    .checkout-class {
        flex-direction: column;
        margin-left: 20px;
    }

    .address-class{
        width: 80%;
    }

    .payment-class{
        width: 80%;
    }

    .place-order {
        bottom: 0;
        width:100%;
        position: fixed;
        background-color: blue;
        color: white;
    }
  }

  